{% extends "base.html" %}
{% load juntagrico.config %}
{% load i18n %}
{% block page_title %}
    <h3>{% trans "Poll" %}</h3>
{% endblock %}

{% block content %}
    {% if allowed_to_vote is True %}
        {% for poll in polls %}
               <h4 id="poll_{{ poll.id }}">{{ poll.title }}</h4>
                <p><strong>{{ poll.question }}</strong></p>
                <p>{{ poll.description }}</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button onclick="vote('{% url 'polling:vote' poll.id 1 %}')" type="button"
                     class="btn {% if poll.choice == 1 %}btn-success{% else %}btn-secondary{% endif %}">
                      {% trans "Yes" %}</button>
                  <button onclick="vote('{% url 'polling:vote' poll.id 0 %}')" type="button"
                     class="btn {% if poll.choice == 0 %}btn-success{% else %}btn-secondary{% endif %}">
                      {% trans "No" %}</button>
                  {% if poll.allow_abstention is True %}
                  <button onclick="vote('{% url 'polling:vote' poll.id 2 %}')" type="button"
                     class="btn {% if poll.choice == 2 %}btn-success{% else %}btn-secondary{% endif %}">
                      {% trans "Abstention" %}</button>
                  {% endif %}
                </div>
                <hr>
            {% empty %}
                {% trans "No active polls found" %}
            {% endfor %}
    {% else %}
        <p>
            {% trans "You are not allowed to participate in the poll. Please contact us via mail for further information." %}
        </p>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
function vote(url)
{
    location.href = url;
}
</script>
{% endblock %}
